/* BASIC RESET  - global*/
*, 
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: inherit;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:10px;
    box-sizing: border-box; 
}

body{
    background-color: #faf9f4;
    max-width:1200px;
    margin: 0 auto;
    width:100%
}

a{text-decoration: none;}
ul{list-style: none;}

p{ 
font-size: 1rem;
line-height: 1.5;
}

img{
    width:100%;
    max-width: 100%;
    height:auto;
    border-radius: 15px;
}



/* max -width give entire site consistency */

/* HEARDER */
.top-actions{
/* background-color: pink; */
/* max-width:1200px; */
margin:  auto;
width:80%;
padding: 1rem;
height:10vh;
}
.top-actions .container{
    /* background-color: grey; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.top-logo{
   background-color: #ccc;
   width: 200px;
   padding:1rem;
   border-radius: 5px;
   text-align:center;
}

/* NAVIGATION */

/* .top-menu{
   
  
} */

.top-menu ul{
    display:flex;
    justify-content: space-around; 
}

 

.top-menu li{
    /* margin: 0 1rem; */
    padding: 1rem;
   
}
/* .top-menu li a{
    
} */

 
 
 

/* .active{} */
/* END NAVIGATION */
/* END HEARDER */

/*MAIN */
.main{
  
    max-width:80%;
    margin:0 auto;
    box-shadow: -2px 0px 3px 5px rgba(0,0,0,0.25);
}
.main .container{
    display: flex;
    flex-direction: column;
 
}
.featured-book{
    /* border:2px solid green; */
    position: relative;
    display: flex;
    margin: 0 1rem;
}
.featured-book img{
 flex:1;
}
.recommended{ 
    position:absolute;
    top: 0;
    right:0;
    background-color: #edbf0a;
    color:#fff;
    padding: .95rem;
    border-bottom-left-radius: 20px;
}
.book-info{
    /* flex:2; */
    margin: 0 1rem;
}
 h2.title {
    font-size: 3rem;
}



.top-voted{
    display: flex;
flex-direction: column;
background: #fff;
}

.main .container h1,
.top-voted h2{
        padding: 2rem;
        background-color: #fff;
}


/* .author{} */
.synopsis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 0 1rem; */
    
}
.synopsis p{
 margin: 1rem 0;
}
.books-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,  1fr));
    grid-gap:1rem;
}
.book{
    background-color: #faf9f4;
    position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 1rem;
}

.book img{
    width:50%;
    
}
span.position{
    position: absolute;
    top:0;
    right:0;
    display: flex;
    justify-content:center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius:50%;
    border: 1px solid #f1bf00;
    color:#f1bf00;   
}
 
/* h3.title{} */
 


/* FOOTER */
footer{
    width:100%;
    background-color: #292929;
    padding:2.5rem 0;
    text-align:center;
}
footer .container{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
footer .container nav ul{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
footer .container nav ul li{
 margin: 0 1rem;

}