// FOR ANY BROWSER  WITH LESS THAN 900PX
@media(max-width:900px){
// MAIN CONTAINER
    .main{
        width: 90%;
        padding:0;
    }

  // TOP VOTED BOOK LIST
    .books-list {
        grid-template-columns: 1fr;
        .book {   
            flex-direction:row;
        } 
    
        .book-info{
            padding: 1rem;
            margin: 1rem;
        }
    }  
  
}


// FOR ANY BROWSER WITH LESS THAN 700PX
@media(max-width:700px){
    // NAV
    .top-actions{
        padding:0;
        width:100%;
        .container{
            flex-direction:column;

            .top-menu{
                width: 100%;
                ul{
                    margin:1rem 0;
                }
           
               li{
                    // padding: 0.5rem 0.15rem;
                    // margin:0 0.5rem;
                    font-size: .65rem;
                }
            }
     }

    }

    //  RECOMMENDED BOOK
    .main{
        width: 100%;
        box-shadow: none;

     .featured-book {
        flex-direction:column;

        .recommended {
            right: 25%;
            font-size: .75rem;
        }

            img{
                flex-basis: auto;
                width:50%;
                align-self: center;
                padding:0;
            }

            .book-info{
                flex-basis: auto;
               margin:0.5rem;

               .synopsis > p:last-child{
                margin: 1rem 0;
                }
            }         
        }
    }

    // TOP VOTED BOOK LIST
    .books-list {
        grid-template-columns: 1fr;
        
        .book { 
            flex-direction:column;
            padding:0;

            .book-info{
                padding:0;
                margin:0;
            }
        }
    }   
}    