
$layout-breakpoint-lg: 900px;
$layout-breakpoint-medium: 850px;
$layout-breakpoint-small: 750px;



// FOR ANY BROWSER  WITH LESS THAN 900PX
@media(max-width: $layout-breakpoint-lg){
    // MAIN CONTAINER
        .main{
            width: 90%;
            padding:0;
        }
    
      // TOP VOTED BOOK LIST
        .books-list {
            // grid-template-columns: 1fr;
            .book {   
                flex-direction:row;
            } 
        
            .book-info{
                padding: 1rem;
                margin: 1rem;
            }
        }  
      
    }
    
    
    // FOR ANY BROWSER WITH LESS THAN 850PX
    @media(max-width:$layout-breakpoint-medium){
              // NAV
              .top-actions{
                padding:0;
                width:100%;
                .container{
                    flex-direction:column; 

                    .top-logo{   
                        align-self: flex-start;
                    }
                    
                    .top-menu{
                        width: 100%;
                        ul{
                            margin:1rem 0;
                        }
                    }
                }
        
            }

            //  RECOMMENDED BOOK
            .main{
                width: 100%;
                box-shadow: none;
        
             .featured-book {
                flex-direction:column;
    
                img{
                    flex-basis: auto;
                    width:50%;
                    align-self: center;
                    padding:0;
                }
    
                .recommended {
                    right: 25%;
                    font-size: .75rem;
                }
        
             }
        }

                // TOP VOTED BOOK LIST
                .books-list {
                    grid-template-columns: 1fr;
                    
                    .book { 
                        flex-direction:column;
                        padding:0;
            
                        .book-info{
                            padding:0;
                            margin:0;
                        }
                    }
                } 
    }
    // FOR ANY BROWSER WITH LESS THAN 700PX
    @media(max-width:$layout-breakpoint-small){

        .top-menu{
           li{
               font-size:.75rem;
           }
        }
    
    //  RECOMMENDED BOOK
    
         .featured-book {
    
                .book-info{
                    flex-basis: auto;
                   margin:0.5rem;
    
                   .synopsis > p:last-child{
                    margin: 1rem 0;
                    }
                }         
            }
    
                // TOP VOTED BOOK LIST
        .books-list {
            grid-template-columns: 1fr;
            
            .book { 
                flex-direction:column;
                padding:0;
    
                .book-info{
                    padding:0;
                    margin:0;
                }
            }
        } 
    }
    
      
     